#form {
    min-height: 50vh;
    height: 50vh;
    border-bottom: 0px;
    background: $secondary-color;
    font-weight: 400;
    color: $light-pink;
    padding: 0rem 5.6rem;
    margin-bottom: 0;
    top: 2rem;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

}